/* Corpo principal */ 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    background-image: url('../imagens/fundo/branco.jpg');
    background-size: cover;
    background-position: center;
}


/* fontes para usar */
@font-face{
    font-family: 'Glacial';
    src: url('../imagens/fontes/GlacialIndifference.ttf') format('truetype');
}
@font-face{
    font-family: 'LoveloBlack';
    src: url('../imagens/fontes/Lovelo_Black.ttf') format('truetype');
} 



/* faixa superior */
header {
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center;
    background: linear-gradient(to right, #000000, #9411cf);
    color: #fff;
    position: fixed;
    width: 100%;
    height: 15vh;
    top: 0;
    letter-spacing: 0.4cap;
    font-family: 'LoveloBlack', sans-serif;
    overflow: hidden;
}

.LOGOPORRA {
    height: 5vw; 
    width: 5vw;
    transition: transform 0.3s ease-in-out;
    object-fit: contain;
} /* Logo no canto esquerdo */

.LOGOPORRA:hover{
    transform: scale(1.15);
} /* fazer a logo crescer com o mouse */

h1{
    margin: 5vh;
    font-size: clamp(2vw, 5vh, 4vw);
    max-width: 95%;
} /* Escrita principal */



/* Balão de fala */
.fala {
    font-family: 'glacial', sans-serif;
    background: url('../imagens/balao_fala.png') no-repeat center/contain;
    display: flex;
    align-items: center;
    text-align: center; 
    padding: 8%;
    color: #000;
    font-size: calc(1.2vw + 1vh);
    width: 25vw;
    height: auto;
    max-height: 30vh;
    margin-left: 5vw;
    margin-top: 5vh; 
}



/* Parte de cadastro */
.container {
    background: linear-gradient(to right, #000000, #3f045b, #9411cf);
    margin: 15vh 5vw 0 10vw; 
    padding: 20px;
    color: #fff;
    border-radius: 4vh;
    height: 65vh;
    width: 30vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.container h2 {
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1vh;
    text-align: center;
} /* Cadastre-se */

.container p {
    margin-top: -2vh;
    margin-bottom: 1vh;
    font-size: 1.5vw;
    font-family: 'Glacial', sans-serif;
    text-align: center;
} /* Faça parte da nossa comunidade */


/* inputs de email e senha e select de conta */
.container input[type="email"],
.container input[type="password"],
.container select {
    font-family: 'Glacial', sans-serif;
    font-size: 1.2rem;
    width: 95%;
    padding: 1vh;
    margin: 2vh;
    border: 2px solid white;
    background: linear-gradient(to right, #000000, #3f045b, #9411cf);
    color: white;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
    display: flex;
}

.container input[type="username"]{
    margin-bottom: 3vh;
}

.container input[type="email"]:focus,
.container input[type="password"]:focus,
.container select:focus {
    background: rgba(255, 255, 255, 1);
    color:black
} /* mudança de cores dos inputs */

.form-container .checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10%;
} /* caixa mostrar senha */

.container label {
    margin-right: 1vw;
}

.form-container select::after {
    content: '▽';
} /* ajustes do select */



/* botão de entrar */
.botao {
    margin-top: 4vh;
    width: 8vw;
    padding: 2vh;
    border: none;
    background: #000000;
    color: #fff;
    font-size: 3vh;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.botao:hover {
    background-color: #f9ecff;
    color: #110019;
} /* mudar cor do botão */


/* Texto abaixo do botão */
.cadastro{
    display: flex;
    margin-top: 4vh;
    font-size: clamp(1.4vw, 2vh, 4vw);
    justify-content: center;
    bottom: 0;
}
.cadastro a{
    color: #e7b2ff;
}