<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.A Sociedade Acadêmica</title>
    <link rel="stylesheet" href="styles.css">
    <!-- <base href="http://localhost/TCC"> --> <!-- Caso esteja usando xampp, apenas tire o comando de comentário -->
</head>
<body>
    <header>
        
        <a  href="../layout/layout.html">
            <img class="LOGOPORRA" src="../imagens/Logos/logo_branca.png" height="75vh" width="75vw"></img> 
        </a>

        <h1>Sociedade Acadêmica</h1>
        <nav>
            
            <div class="dropdown">
                <a>Perfil</a>
                <div class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="#">Configurações</a>
                </div>
            </div>
            
            <div class="dropdown">
                <a>Suporte</a>
                <div class="dropdown-content">
                    <a href="../suporte/email.html">Enviar Email</a>
                    <a href="../suporte/zapp.html">Whatsapp</a>
                </div>
            </div>

            <div class="dropdown">
                <a href="../chat/chat.html">CHAT</a>
            </div>
        </nav>
        
        <div class="cadastro">
            <a class="cadastro1", href="../entrar/entrar.html">Entrar</a>
            <a class="cadastro2", href="../cadastro/cadastro.html">Registrar-se</a>
        </div>

    </header>

    <section id="quem-somos">
        <h2>Quem somos?</h2>
        <p>Somos quatro alunos determinados e inovadores, unidos por um propósito comum de transformar a comunicação no ambiente educacional. Fundamos o S.A. (Sistema de Aproximação) com a missão de integrar de forma eficiente o chat das turmas com a coordenação e o servidor, aprimorando assim a integridade da comunicação e promovendo um ambiente acadêmico mais colaborativo e eficiente.</p>

        <h2>Missão</h2>
        <p>Acreditamos que uma comunicação clara e eficaz é a base para um ambiente de aprendizado próspero. Nosso objetivo é eliminar barreiras e criar uma plataforma que facilite a troca de informações entre alunos, professores e a coordenação, garantindo que todas as partes estejam sempre conectadas e bem informadas. Além disso, buscamos expandir nosso impacto além das fronteiras da nossa instituição, colaborando com outras escolas e promovendo melhores práticas de comunicação.</p>
        
        <h2>Nossa Missão</h2>
        <p>Desenvolver e implementar um sistema de chat integrado que:</p>
        <ul>
            <li>Melhore a comunicação entre alunos, professores e coordenação.</li>
            <li>Proporcione uma plataforma segura e confiável para troca de informações.</li>
            <li>Promova a transparência e a colaboração dentro do ambiente escolar.</li>
        </ul>
        
        <h2>Nossos Valores</h2>
        <ul>
            <li>Inovação: Estamos comprometidos em desenvolver soluções tecnológicas avançadas que atendam às necessidades de comunicação da comunidade escolar.</li>
            <li>Colaboração: Acreditamos que o trabalho em equipe e a cooperação são essenciais para alcançar nossos objetivos.</li>
            <li>Transparência: Valorizamos a honestidade e a clareza em todas as nossas interações e processos.</li>
            <li>Excelência: Buscamos constantemente a melhoria contínua e a excelência em tudo o que fazemos.</li>
        </ul>


        <h2>Nossa Equipe</h2>
        <p>Nossa equipe é formada por quatro alunos apaixonados por tecnologia e comunicação, cada um trazendo habilidades únicas e complementares para o projeto. Juntos, combinamos conhecimentos em desenvolvimento de software, design de interfaces, gestão de projetos e suporte técnico.</p>


        <h2>Contato</h2>
        <p>Email: <a href="mailto:sociedadetccsa@gmail.com">sociedadetccsa@gmail.com</a></p>
        <div class="donation">
            <p>Quer contribuir com o crescimento do site com um valor simbólico? Sua doação ajuda a manter nosso projeto e melhorar nossa plataforma para todos os usuários.</p>
            <img src="qrcodepix.png" alt="QR Code doação" class="qr-code">
        </div>
    </section>
    <footer>
        <p>&copy; 2024 SA - Sociedade Acadêmica. Todos os direitos reservados.</p>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>
