/* Medidas:
    % = funciona como porcentagem total da tela
    vh (viewport height) = funciona como a porcentagem da altura total da tela, o "h" vem de height
    vw (viewport width) = funciona como a porcentagem de largura total da tela, o "w" vem de width 
    rem (root em) = é a porcentagem do tamanho que a imagem tem no arquivo html, 1rem = 100% do tamanho 
*/

/* Corpo principal */ 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    background-image: url('/public/imagens/fundo/branco.jpg');
    background-size: cover;
    background-position: center;
}


/* fontes para usar */
@font-face{
    font-family: 'Glacial';
    src: url('/public/imagens/fontes/GlacialIndifference.ttf') format('truetype');
}
@font-face{
    font-family: 'LoveloBlack';
    src: url('/public/imagens/fontes/Lovelo_Black.ttf') format('truetype');
} 



/* faixa superior */
header {
    background: linear-gradient(to right, #000000, #9411cf);
    color: #fff;
    position: fixed;
    width: 100%;
    height: 15vh;
    top: 0;
    text-align: right;
    letter-spacing: 0.4cap;
    font-family: 'LoveloBlack', sans-serif;
}

h1{
    margin: 5vh;
    font-size: 2.2rem;
} /* Escrita principal */

.LOGOPORRA {
    transition: transform 0.3s ease-in-out;
    top: 1%;
    left: 1%;
    position: fixed;
} /* Logo no canto esquerdo */

.LOGOPORRA:hover{
    transform: scale(1.2);
} /* fazer a logo crescer com o mouse */



/* Balão de fala */
.fala {
    font-family: 'glacial', sans-serif;
    background: url('/public/imagens/balao_fala.png') no-repeat center/contain;
    display: flex;
    align-items: center;
    text-align: center; 
    padding: 5%;
    color: #000;
    font-size: calc(1.2vw + 1vh);
    width: auto;
    height: 60vh;
    margin: 5vw; 
}



/* Parte de cadastro */
.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 150px; 
    }

.form-container {
    margin-top: 20%;
    background: linear-gradient(to right, #000000, #3f045b, #9411cf);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    height: 65%;
    width: 70%;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
} /* Texto principal */

.form-container:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
} /* sombra do texto */

.form-container h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4%;
    text-align: center;
} /* Cadastre-se */

.form-container p {
    margin-top: -5%;
    font-size: 20px;
    font-family: 'Glacial', sans-serif;
    text-align: center;
    margin-bottom: 5px;
} /* Faça parte da nossa comunidade */



/* inputs de email e senha e select de conta */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container select {
    font-family: 'Glacial', sans-serif;
    font-size: 100%;
    width: 85%;
    padding: 6px;
    margin: 12px;
    border: 2px solid white;
    background: linear-gradient(to right, #000000, #3f045b, #9411cf);
    color: white;
    transition: background-color 0.3s ease-in-out;
    display: flex;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus,
.form-container select:focus {
    background: rgba(255, 255, 255, 1);
    color:black
} /* mudança de cores dos inputs */

.form-container .checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10%;
} /* caixa mostrar senha */

.form-container input[type="checkbox"] {
    margin-left: -40px;
} /* ajustes da caixa */

.form-container select::after {
    content: '▽';
} /* ajustes do select */



/* botão de entrar */
.entrar {
    margin-top: 5%;
    width: 25%;
    padding: 15px;
    border: none;
    background: #000000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.entrar:hover {
    background-color: #f9ecff;
    color: #110019;
} /* mudar cor do botão */







